<div class="min-h-screen bg-gray-900 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
      <div
        class="absolute inset-0 bg-gradient-to-r from-sky-600 to-sky-800 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
      </div>
      <div class="relative px-4 py-10 bg-gray-900 border-2 border-sky-700 shadow-lg rounded-xl sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
          <div>
            <h1 class="text-2xl text-white font-semibold">Login</h1>
          </div>
          @if (errorMessage) {
            <p class="error-message">{{errorMessage}}</p>
          }
          <form>
          <div class="divide-y divide-gray-200">
            <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
              <div class="relative form-group">
                <label for="email" class="left-0 -top-3.5 text-gray-400 text-sm" >Email Address</label>
                <input name="email" autocomplete="on" id="email" type="text" class="rounded-lg h-8 w-full border-b-2 border-gray-300 text-gray-900" [(ngModel)]="uemail" />
              </div>
              <div class="relative">
                <label for="password" class="left-0 -top-3.5 text-gray-400 text-sm ">Password</label>
                <input name="password" id="password" type="password" class="h-8 rounded-lg w-full border-b-2 text-gray-900" [(ngModel)]="upassword" />
              </div>
              <div class="relative">
                <button class="bg-cyan-500 text-white rounded-md px-2 py-1" (click)="loginSubmit()">Iniciar Sesion</button>
              </div>
            </div>
          </div>
        </form>
        </div>  
      </div>
    </div>
  </div>